<div class="container">

  <%= render "form"%>

  <!-- Moved "Destroy" action to edit view so user can accurately delete the relevant user!-->
  <%= link_to "Back", :back, class:"btn btn-dark"  %>
</div>