<div class="container">

  <%= render "form"%>

  <!-- Moved "Destroy" action to edit view so user can accurately delete the relevant user!-->
  <% if !is_not_admin_or_super? %>
    <%= link_to 'Destroy', @actor, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-dark"  %>
  <% end %>
  <%= link_to "Back", :back, class:"btn btn-dark"  %>
</div>