<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<div class="container">

    <%= render "form"%>

  <!-- Moved "Destroy" action to edit view so user can accurately delete the relevant user!-->
  <% if !is_not_admin_or_super? %>
    <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-dark"  %>
  <% end %>
  <%= link_to "Back", @movie, class:"btn btn-dark"  %>
</div>
