<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<div class="container">

    <%= render "form"%>

  <!-- Moved "Destroy" action to edit view so user can accurately delete the relevant user!-->
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to "Back", :back %>
</div>
